EnterPrise01Client/src/conf/xml-resources/web-service-references/AdderService/wsdl/localhost_8080/EnterPrise01/AdderService.xsd_1.xsd

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.2-b608 (trunk-7979; 2015-01-21T12:50:19+0000) JAXWS-RI/2.2.11-b150120.1832 JAXWS-API/2.2.12 JAXB-RI/2.2.12-b141219.1637 JAXB-API/2.2.13-b141020.1521 svn-revision#unknown. --><xs:schema xmlns:tns="http://service.godoro.com/" xmlns:xs="http://www.w3.org/2001/XMLSchema" version="1.0" targetNamespace="http://service.godoro.com/">

<xs:element name="Carp" type="tns:Carp"/>

<xs:element name="CarpResponse" type="tns:CarpResponse"/>

<xs:element name="Topla" type="tns:Topla"/>

<xs:element name="ToplaResponse" type="tns:ToplaResponse"/>

<xs:complexType name="Carp">
<xs:sequence>
<xs:element name="sol" type="xs:int"/>
<xs:element name="sag" type="xs:int"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="CarpResponse">
<xs:sequence>
<xs:element name="carpim" type="xs:int"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="Topla">
<xs:sequence>
<xs:element name="sol" type="xs:int"/>
<xs:element name="sag" type="xs:int"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="ToplaResponse">
<xs:sequence>
<xs:element name="Toplam" type="xs:int"/>
</xs:sequence>
</xs:complexType>
</xs:schema>